@import url(./global.css);
.admin-layout {
  height: 100vh; }

.admin-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0; }

.admin-header {
  background: #001529;
  padding: 0;
  display: flex;
  justify-content: flex-end; }

.admin-header .ant-dropdown-link {
  padding-right: 2em;
  color: #fff;
  opacity: .9; }

.admin-header a:active, .admin-header a:hover {
  opacity: 1; }

.admin-content {
  padding: 8px;
  background: #fff;
  min-height: auto; }

.admin-footer {
  text-align: center; }

.admin-logo {
  height: 3em; }

.admin-logo h1 {
  font-size: 1.2em;
  color: #fff;
  margin: 17px 0 17px 28px; }

.ant-btn {
  margin-right: 8px;
  margin-bottom: 12px; }

hr {
  border-color: #ebedf0;
  border-top: none; }

.hidden {
  display: none; }
