@charset "UTF-8";
.quill-editor {
  /*工具栏内用*/
  /*编辑器内容用*/ }
  .quill-editor .ql-font span[data-value="Arial"]::before {
    content: "Arial" !important;
    font-family: "Arial"; }
  .quill-editor .ql-font span[data-value="宋体"]::before {
    content: "宋体" !important;
    font-family: "宋体"; }
  .quill-editor .ql-font span[data-value="黑体"]::before {
    content: "黑体" !important;
    font-family: "黑体"; }
  .quill-editor .ql-font span[data-value="微软雅黑"]::before {
    content: "微软雅黑" !important;
    font-family: "微软雅黑"; }
  .quill-editor .ql-font-Arial {
    font-family: "Arial"; }
  .quill-editor .ql-font-宋体 {
    font-family: "宋体"; }
  .quill-editor .ql-font-黑体 {
    font-family: "黑体"; }
  .quill-editor .ql-font-微软雅黑 {
    font-family: "微软雅黑"; }
