.not-found{
    background: url(../imgs/404.jpg) no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
    .tips{
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 300px;
        text-align: center;
        h1{
            font-size: 10em;
            margin-bottom: 0;
        }
        h5{
            font-size: 2em;
        }
    }
}