.ant-btn-info{
    background-color: #048f74;
    border-color: #048f74;
    color: #fff;
}
.ant-btn-info:active,
.ant-btn-info:hover,
.ant-btn-info:focus,
.ant-btn-info:visited{
    background-color: #048f74;
    border-color: #048f74;
    color: #fff;
    opacity: .9;
}