@import url(./global.css);

body{
    margin: 0;
}
.login-wrapper{
    background: url(../imgs/login-bg.jpg) #56bc94;
    position: fixed;
    width: 100%;
    height: 100%;
    .login{
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 300px;
        label{
            color: #fff;
        }
        input{
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: #fff;
        }
    }
}